@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/satisfy-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Satisfy Regular'), local('Satisfy-Regular'),
       url('../fonts/satisfy-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/satisfy-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/satisfy-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/satisfy-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/satisfy-v10-latin-regular.svg#\1') format('svg'); /* Legacy iOS */
}
